layout: index
description: Dave is appreciative to Mike for showing him this fast, simple & powerful blog framework
subtitle: Dave loves Hexo, but also Loves Sphinx! Mike loves Hexo.  Will he also love Sphinx?
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Read the Docs
      p.intro-feature-desc Readthedocs.org has something to do with all this.  But what?!  Actually not much -- just that the sphinx support of the RTD theme is a good starting point for css to swap into our secret company design framework.   
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Markdown Support
      p.intro-feature-desc All features of GitHub Flavored Markdown are supported. You can even use most Octopress plugins in Hexo.  Fear not -- sphinx outputs from markdown as well, so can pull sphinx output into Hexo formatting, so its impossible to lose! b
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title One-Command Deployment
      p.intro-feature-desc You only need one command to deploy your site to GitHub Pages, Heroku or other sites.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Various Plugins
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
